@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a.link_g, a.link_g:active, a.link_g:hover, a.link_g:visited, a.link_g:focus {
  color: #00994e;
  text-decoration: underline;
}

.main_textcolor {
  color: #00994e !important;
}

.green_span {
  color: #00994e !important;
}

.orange_span {
  color: #ff7313 !important;
}

.red_span {
  color: #e70839 !important;
}

a.link_gf20 {
  color: #00994e;
  text-decoration: underline;
  font-size: 20px;
}

.text_center {
  text-align: center;
}

.m_50 {
  margin: 40px 0;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_20 {
  margin-bottom: 20px;
}

.pl_40 {
  padding-left: 40px;
}

.mt_0 {
  top: 0;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

.loadingElement {
  display: none;
}

.loading .loadingElement {
  display: block;
}

.header {
  background: #00994e;
  height: 60px;
  position: relative;
}

.header__logo {
  display: block;
  width: 200px;
  height: 50px;
  background: url(../images/logo--pc.png) 0 0;
  background-size: 200px 50px;
  float: left;
  margin-top: 5px;
  margin-left: 25px;
}

.header__title {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

.header__goback {
  display: none;
  position: absolute;
  left: 20px;
  top: 12px;
  background: url(../images/header__goback.png);
  background-size: 15px 25px;
  width: 15px;
  height: 25px;
}

.footer .wrap {
  padding: 30px 10px;
}

.footer__warning {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.footer__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #6d6d6d;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0px;
  word-break: break-all;
}

.footer__copyright {
  text-align: center;
  background: #51be77;
  background: -moz-linear-gradient(top, #51be77 0%, #27ae58 100%);
  background: -webkit-linear-gradient(top, #51be77 0%, #27ae58 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#51be77), to(#27ae58));
  background: -o-linear-gradient(top, #51be77 0%, #27ae58 100%);
  background: linear-gradient(to bottom, #51be77 0%, #27ae58 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51be77', endColorstr='#27ae58',GradientType=0 );
  padding: 22px 0;
  color: #fff;
}

.gotop {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  background: url(../images/gotop.png);
  right: 120px;
  bottom: 90px;
  z-index: 9999;
}

.mobileShow {
  display: none;
}

@media screen and (max-width: 767px) {
  .main {
    min-height: calc(100vh - 279px);
  }

  .header {
    height: 50px;
    text-align: center;
  }

  .header__logo {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    background: url(../images/logo--mobile.png) 0 0;
    background-size: 50px 45px;
    margin: 3px auto;
  }

  .header__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    float: none;
    font-size: 20px;
  }

  .header__goback {
    display: block;
  }

  .footer .wrap {
    padding: 20px;
  }

  .footer__left {
    width: 100%;
    float: left;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 8px;
  }

  .footer__text {
    width: 100%;
    float: left;
    line-height: 1.6;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .gotop {
    width: 40px;
    height: 40px;
    background: url(../images/gotop@3x.png);
    background-size: 40px;
    right: 20px;
    bottom: 10px;
  }

  .mobileHide {
    display: none;
  }

  .mobileShow {
    display: initial;
  }
}
@media screen and (max-width: 400px) {
  .header {
    background-size: cover;
  }
}
body {
  background: #f2f2f2;
  margin: 0 !important;
}

.form__notice {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}
.form__notice .boxform__notice {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #6d6d6d;
  margin: 40px 0 30px;
}

.time_end {
  display: none;
  text-align: center;
  margin-bottom: 10px;
}
.time_end span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #ff2828;
}

.credit-input {
  display: block;
  padding: 0px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

input.credit-cell {
  width: 25%;
  height: 34px;
  padding: 6px 0px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: none;
  outline: none;
  text-align: center;
  letter-spacing: 2px;
}

input.credit-cell:focus {
  outline: none;
}

.other_logo {
  text-align: center;
  padding-top: 30px;
}

.error_ml0 {
  margin-left: 0 !important;
  margin-top: 5px;
}

.mt_30 {
  top: 30px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_50 {
  margin-bottom: 50px;
}

.pb_50 {
  padding-bottom: 50px;
}

.box_inlebox {
  line-height: 40px;
  margin-top: -5px;
}

.form {
  min-height: 250px;
}

.w_line {
  line-height: 30px;
}

.text_center {
  text-align: center;
  margin-bottom: 50px;
}

.inputGroup__tit {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #111111;
}

.inputGroup + .tit_10height {
  margin-top: 10px;
}

.text_detailed {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "微軟正黑體";
  color: #111111;
}

.inputGroup__control--thousand:after {
  content: '仟元';
  position: absolute;
  right: 0;
  margin-right: 10px;
  bottom: 0;
  line-height: 40px;
  color: #9e9e9e;
}

.btn_all_print {
  width: 100%;
  text-align: center;
  margin: 25px 0;
}
.btn_all_print.lightbox_contenet {
  margin: 25px 0 0px;
}
.btn_all_print a {
  border-radius: 20px;
  border: solid 1px #00994e;
  outline: none;
  background: #fff;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #00994e;
  padding: 0px 0;
  margin: 0 5px;
  width: 180px;
  display: inline-block;
}
.btn_all_print a span {
  line-height: 35px;
}
.btn_all_print a.yellow {
  border: solid 1px #ff6000;
  color: #fff;
  background: #ff6000;
}

.popup__container {
  max-width: 600px;
}

.lightbox_text {
  padding: 0;
  display: inline-block;
  float: left;
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}
.lightbox_text .tit {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #000;
}
.lightbox_text .tit ._tit {
  padding-right: 5px;
  width: 120px;
  text-align: right;
  display: inline-block;
}
.lightbox_text span.text {
  padding-left: 5px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #ff2828;
}

.bottom_text {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  margin-bottom: 30px;
}

/*table*/
.table_data_item {
  width: 100%;
  color: #111111;
}
.table_data_item.mt20 {
  margin-top: 20px;
}
.table_data_item td {
  padding: 5px 0;
}
.table_data_item .td_25 {
  width: 25%;
}
.table_data_item .td_50 {
  width: 50%;
}

.line_li_mb_20 {
  margin: 20px 0 5px;
  font-size: 18px;
}

.actionArea {
  float: left;
  width: 100%;
}

.form__item {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  background: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
}
.form__item .order_num {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #000000;
  padding-left: 23px;
  margin: 5px 0;
}
.form__item .order_num span {
  font-size: 18px;
  padding-left: 45px;
  color: #ff2828;
}
.form__item .fast_pay {
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #000000;
    padding-left: 23px;
    margin: 5px 0;
}
.form__item .form__box {
  width: 490px;
  float: left;
  padding-left: 23px;
}
.form__item .form__box .card_kind {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  text-align: right;
}
.form__item .form__box .card_kind .master_card {
  width: 50px;
  height: 30px;
  background: url(../images/master-card-light@3x.png);
  background-size: 50px 30px;
  display: inline-block;
}
.form__item .form__box .card_kind .visa_card {
  width: 50px;
  height: 30px;
  background: url(../images/visa-light@3x.png);
  background-size: 50px 30px;
  display: inline-block;
}
.form__item .form__box .card_kind .jcb_card {
  width: 50px;
  height: 30px;
  background: url(../images/jcb-light@3x.png);
  background-size: 50px 30px;
  display: inline-block;
}
.form__item .form__box .inputGroup {
  position: relative;
  float: left;
  width: 100%;
}
.form__item .form__box .inputGroup .inputGroup__label {
  color: #000000;
  font-weight: 600;
}
.form__item .form__box .inputGroup .text__s {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #8e8e93;
  float: left;
}
.form__item .index_in_card {
  position: relative;
  width: 360px;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  top: 30px;
  left: 25px;
}

.index_banner_card {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  min-height: 227px;
  margin-bottom: 35px;
  -webkit-perspective: 600px;
  perspective: 600px;
  float: none;
}
.index_banner_card .card-dom {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.index_banner_card .card-front, .index_banner_card .card-back {
  position: absolute;
  width: 360px;
  left: 0px;
}
.index_banner_card .card-front .number, .index_banner_card .card-back .number {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 135px;
  left: 40px;
}
.index_banner_card .card-front .card-expiration-date, .index_banner_card .card-back .card-expiration-date {
  position: absolute;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #fff;
  left: 200px;
  bottom: 30px;
}
.index_banner_card .card-front .ccv, .index_banner_card .card-back .ccv {
  position: absolute;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #ff6000;
  right: 95px;
  bottom: 100px;
}
.index_banner_card .card-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.index_banner_card.flipped .card-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.index_banner_card.flipped .card-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.icom_errorMsg {
  text-align: center;
  margin-top: 15px;
}
.icom_errorMsg .confirm__code_text {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #f61732;
  text-align: center;
}
.icom_errorMsg .confirm__code_text:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-image: url(../images/warning-100-px.png);
  background-size: 80px 80px;
}

.actionArea--2btns {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.btn.green_btn {
  border: solid 1px #00994e;
  background: #fff;
  color: #00994e;
  font-size: 20px;
  margin-right: 16px;
}

.btn.green_btn > span {
  color: #00994e;
}

.select_o {
  position: relative;
  vertical-align: middle;
  border-radius: 3px;
  background: #ffffff no-repeat url(../images/transformselect.png) right center;
  background-size: 25px 22px;
  line-height: 20px;
  cursor: pointer;
  z-index: 9;
}

.select_o::after {
  content: ' ';
  position: absolute;
  width: 25px;
  height: 22px;
  background: #ffffff no-repeat url(../images/transformselect.png) right center;
  background-size: 25px 22px;
  top: 50%;
  margin-top: -11px;
  right: 10px;
}

.select_box {
  width: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 9px 15px;
  line-height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  overflow: hidden;
}

.notice {
  font-size: 14px;
  line-height: 25px;
}
.notice.p10 {
  padding-top: 10px;
}

.input_text_detailed {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}
.input_text_detailed span.bold {
  font-size: 20px;
  color: #00994e;
  font-weight: 600;
}

.complete ul.checkout .step.active:last-child:after {
  position: absolute;
  content: '121';
  top: 50%;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #afb3b9;
  border-color: #e4e4e4;
}

.complete ul.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-top: 30px;
  text-align: center;
  list-style: none;
  margin-bottom: 150px;
}
.complete ul.checkout .step {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: 30px;
  position: relative;
}
.complete ul.checkout .step:before, .complete ul.checkout .step:after {
  position: absolute;
  content: ' ';
  top: 50%;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #afb3b9;
  border-color: #e4e4e4;
}
.complete ul.checkout .step.active:after, .complete ul.checkout .step.active:before {
  position: absolute;
  content: ' ';
  top: 50%;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #00994e;
  border-color: #00994e;
  z-index: 1;
}
.complete ul.checkout .step.active.lastbox:after {
  position: absolute;
  content: ' ';
  top: 50%;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: 2px solid #afb3b9;
  border-color: #e4e4e4;
}
.complete ul.checkout .step:before {
  left: 0;
  right: 50%;
}
.complete ul.checkout .step:after {
  left: 50%;
  right: 0;
}
.complete ul.checkout .step:last-child:after {
  right: 50%;
}
.complete ul.checkout .step:first-child:before {
  left: 50%;
}
.complete ul.checkout .step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #e4e4e4;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.complete ul.checkout .step.active .step-icon:after {
  position: absolute;
  width: 40px;
  height: 40px;
  content: '';
  top: -1px;
  left: -1px;
  background: #00994e;
  border-radius: 50%;
  z-index: 10;
}
.complete ul.checkout .step.active.lastbox .step-icon:after {
  position: absolute;
  width: 35px;
  height: 35px;
  content: '';
  top: -1px;
  left: -1px;
  background: #fff;
  border: 5px solid #00994e;
  border-radius: 50%;
  z-index: 10;
}
.complete ul.checkout .step.completed .step-icon {
  background: #e4e4e4;
  border-color: #e4e4e4;
}
.complete ul.checkout .step-label {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #bebebe;
}
.complete ul.checkout .step-label_s {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #4a4a4a;
  font-size: 14px;
}
.complete ul.checkout .step.active .step-label {
  color: #00994e;
  font-weight: bold;
  visibility: visible;
}

.li_s {
  padding-left: 10px;
}

.table_lightbox {
  margin: 10px 0;
}
.table_lightbox td {
  border: 1px solid #ccc;
  padding: 10px 10px;
}
.table_lightbox td.w90 {
  width: 90px;
  background: #00994e;
  color: #fff;
}

.inputGroup__control.ml_0 {
  margin-left: 0;
  min-height: 50px;
  padding-top: 12px;
}

.rel {
  position: relative;
}

input[type="text"].input_other {
  width: 79%;
  margin-left: 5px;
  position: absolute;
  top: 6px;
  left: 18%;
}

.mt5 {
  margin-top: 5px;
}

.mb20 {
  margin-bottom: 20px;
  margin-top: 0 !important;
}

.light_title {
  font-weight: 600;
}

.s_title {
  font-weight: 600;
  padding: 0 10px;
}

.border_top {
  border-top: 1px solid #d2d2d2;
  padding-top: 18px;
}

.inputGroup__info {
  margin-top: -25px;
}

.box_w100 {
  width: 100%;
  float: left;
}

.box_border {
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 0px 15px;
  margin-bottom: 13px;
  width: 100%;
  background: #fff;
  cursor: pointer;
}
.box_border.on {
  background: #00994e;
  color: #fff;
}

.other_input {
  position: relative;
  margin-left: 40px;
}

.double__checkbox {
  display: inline-block;
  position: relative;
}
.double__checkbox .trans-element-checkbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
}
.double__checkbox .trans-element-checkbox.checked {
  background-position: 0 -25px;
}
.double__checkbox .trans-element-checkbox {
  background: url(../images/icon_check_s.png) no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  zoom: 1;
}
.double__checkbox label {
  margin-left: 40px;
  font-size: 16px;
  display: inline-block;
  min-height: 40px;
  padding-top: 9px;
  cursor: pointer;
}

.double_check {
  width: 45px;
  border-radius: 2px;
  background-color: #ababab;
  font-size: 12px;
  color: #fff;
  padding: 3px 10px;
  margin-left: 5px;
}

.br_block {
  display: inline;
}

.no_padding {
  padding: 0;
}

.border {
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  border-radius: 3px;
  margin: 20px auto 10px;
}

.agreement .accordionForm__title.p_block:before {
  background-image: url(../images/accordion--pblock.png);
}

.form__section {
  margin-bottom: 20px;
}

.check_pdf {
  margin: 30px 0;
}

.inputGroup__title {
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 600;
}

.agreement .accordionForm {
  margin-bottom: 30px;
}

.agreement .accordionForm__content {
  background: #f1f1f1;
}

.accordionForm__content {
  position: relative;
}
.accordionForm__content .only_box {
  position: absolute;
  top: 10px;
  right: 80px;
  width: 100px;
  height: 50px;
  background: url(../images/only_bg.png);
  background-size: 100px 50px;
  text-align: center;
  font-size: 18px;
  line-height: 45px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #fff;
}
.accordionForm__content .agree_text_content {
  font-size: 14px;
}

.inputGroup__control {
  position: relative;
}
.inputGroup__control .bg_block {
  text-align: center;
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -5px;
  padding: 0 5px;
}
.inputGroup__control .bg_block img {
  max-width: 100%;
}
.inputGroup__control .bg_block span {
  color: #fff;
}

.box_inline {
  position: relative;
  width: 100%;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  display: inline-block;
  vertical-align: top;
}
.box_inline.loan {
  font-size: 22px;
  margin: 5px 0;
}
.box_inline .text__box {
  font-size: 22px;
  line-height: 42px;
  padding-left: 40px;
  margin-top: -38px;
  display: block;
  font-weight: 600;
}
.box_inline .text__box span.size36 {
  font-size: 36px;
}
.box_inline .text__box span.size30 {
  font-size: 30px;
}
.box_inline .text__box span.size25 {
  font-size: 25px;
}
.box_inline .text__box span.gray_18 {
  font-size: 18px;
  color: #6d6d6d;
  font-weight: 500;
}
.box_inline .text__box span {
  font-weight: 600;
  font-size: 22px;
}
.box_inline span {
  font-weight: 500;
  font-size: 16px;
}
.box_inline span.loan_o {
  color: #ff7313;
  font-size: 22px;
  font-weight: 600;
}
.box_inline span.loan_g {
  color: #4a4a4a;
  font-size: 22px;
  font-weight: 600;
}
.box_inline.mb_10 {
  margin-bottom: 10px;
}
.box_inline.mt_20 {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.box_inline .icon_float {
  float: left;
}
.box_inline .ml_95 {
  margin-left: 95px;
}
.box_inline .ml_95.b20 {
  font-size: 18px;
  color: #6d6d6d;
}

.box_inline2 {
  position: relative;
  width: 100%;
  line-height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}

.more_one__in, .more_two__in, .more_three__in {
  margin-top: 10px;
}

.box_icon {
  margin-top: 30px;
  height: 30px;
}

.more {
  float: right;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #00994e;
}

.icon_delete:before, .icon_delete:after {
  width: 30px;
  height: 30px;
  background-image: url(../images/account_img.png);
  margin-left: 10px;
  margin-right: 10px;
  background-position-y: -30px;
  cursor: pointer;
}

.icon_add:before, .icon_add:after {
  width: 30px;
  height: 30px;
  background-image: url(../images/account_img.png);
  margin-left: 10px;
  margin-right: 10px;
  background-position-y: 0;
  cursor: pointer;
}

.icon_item:before, .icon_item:after {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url(../images/check_icon.png);
  margin-right: 5px;
}

.iInfo_g.mt6:before {
  margin-top: -6px;
  margin-right: 5px;
}

.iInfo_g:before, .iInfo_g:after {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url(../images/prompt_icon.png);
  margin-left: 5px;
}

.collapse--note > .collapse__title {
  padding: 10px 40px 10px 55px;
  border-bottom: solid 1px #E6E6E6;
}

.collapse__content {
  border-top: none;
}

.inputGroup__label_b {
  width: 270px;
  padding: 0px 30px 0 0;
  left: 0;
  top: 0;
  text-align: right;
  position: absolute;
  display: block;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collapse--note {
  background-color: #fafafa;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.collapse--note.loan_table .collapse__title {
  padding: 10px 40px 10px 10px;
  font-size: 13px;
  color: #6d6d6d;
}
.collapse--note.loan_table .collapse__title:after {
  left: 100px;
}

.text_gray {
  color: #4a4a4a;
  font-weight: 600;
}

.text_gray_14 {
  color: #6d6d6d;
  font-size: 14px;
}

.text_orange {
  color: #ff7313;
}

.mb_40 {
  margin-bottom: 40px;
}

.wrap_button {
  width: 100%;
  float: left;
}

.text__20 {
  font-size: 20px;
}

.text__16 {
  font-size: 16px;
}

.text__18 {
  font-size: 18px;
}

.text__22 {
  font-size: 22px;
}

.text__center {
  text-align: center;
}

.banner__img {
  position: relative;
  background: url(../images/kv.jpg);
  height: 300px;
  background-position: top center;
}
.banner__img .banner_title {
  position: absolute;
  top: 40%;
  margin-top: -25px;
  left: 50%;
  margin-left: -480px;
  max-width: 960px;
  text-align: left;
  z-index: 99;
  font-size: 36px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
}
.banner__img .banner_title .br {
  display: inline-block;
}
.banner__img .banner_title p {
  line-height: 1.33;
  font-size: 35px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
}
.banner__img .banner_title a.btn_box {
  width: 200px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #ffffff;
  text-align: center;
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
}

.box_info {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  margin: 0 auto 10px;
  text-align: left;
}
.box_info p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #4a4a4a;
  margin-bottom: 10px;
}
.box_info p.bolder {
  font-weight: bolder;
}
.box_info span.icon_num {
  background: #606060;
  color: #fff;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 22px;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-right: 5px;
}

.icon_box {
  width: 47%;
  max-width: 160px;
  min-width: 47%;
  min-height: 140px;
  margin: 0 3% 15px 0;
  float: left;
  padding: 30px 0;
  text-align: center;
  opacity: .8;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.icon_box:hover {
  opacity: 1;
}
.icon_box img {
  text-align: center;
}
.icon_box .icon__text {
  display: inline-block;
}
.icon_box .icon__text .title {
  padding: 10px 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: bolder;
  font-family: "微軟正黑體";
  color: #4a4a4a;
}

a.btn_box {
  width: 200px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #ffffff;
  text-align: center;
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 40px;
}

.div_box {
  min-height: 500px;
}

.box_location {
  width: 50%;
  max-width: 450px;
  margin: 0 15px;
  float: left;
  padding: 35px 25px;
  text-align: center;
  min-height: 210px;
}
.box_location .loaction_tit {
  margin-bottom: 40px;
  float: left;
}
.box_location .loaction_tit span {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 25px;
  text-align: left;
  margin-left: 70px;
  float: left;
}
.box_location .btn {
  padding: 8px 0;
}

.box_notice {
  font-size: 16px;
  line-height: 26px;
  margin: 60px 0;
  color: #111111;
  font-weight: 600;
}

.discount_i:before, .discount_i:after {
  width: 60px;
  height: 60px;
  background-image: url(../images/discount_icon.png);
}

.site_i:before, .site_i:after {
  width: 60px;
  height: 60px;
  background-image: url(../images/site_icon.png);
}

.icon_s {
  position: absolute;
}

.icon_s:before {
  content: "";
}

.icon_s:before, .icon:after {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.box_list_50 {
  width: 50%;
  float: left;
}
.box_list_50 ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.box_list_50 ul > li {
  float: left;
  width: 100%;
  margin-top: 15px;
  list-style: none;
  padding-right: 20px;
}

.notice_text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #111111;
}

.confirm__list > li.line_li {
  width: 100%;
}

.confirm__list > li.line_li {
  width: 100%;
}

.box_Depositor_y, .box_Depositor_n {
  margin-top: 25px;
}

.detail_agree_text {
  margin-top: 8px;
  margin-left: 40px;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-family: "微軟正黑體";
  color: #111111;
}

.content_text {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 25px;
}

.time__box {
  text-align: right;
  line-height: 30px;
  margin-bottom: 20px;
}
.time__box span {
  font-size: 16px;
  color: #111111;
}
.time__box span#time__count {
  color: #ff6000;
  font-weight: 600;
}

.form_box {
  border: solid 1px #d5d5d5;
  background: #fff;
  padding: 40px 30px;
  margin-bottom: 35px;
}

.program__box {
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 600;
}
.program__box span {
  color: #ff6000;
}

.box_loan__result {
  border-top: solid 1px #d5d5d5;
  text-align: center;
  margin: 30px 0;
  padding: 30px 0 0;
}
.box_loan__result p {
  font-size: 16px;
}
.box_loan__result p span.tit {
  font-weight: 600;
  color: #000;
}

.accordionForm__title.active + .accordionForm__content {
  padding: 10px 50px 30px 50px;
}

.inputGroup__label.w200 {
  width: 200px;
}

.inputGroup__control.w200 {
  margin-left: 200px;
}

.otherNations__ul > li {
  margin-left: 2%;
}

.otherNations__ul > li.loan_li {
  width: 11%;
}

.otherNations__ul > li.loan_li:nth-child(1) {
  margin-left: 0%;
}

.otherNations__ul > li.loan_li:nth-child(7) {
  margin-left: 0%;
}

.otherNations__ul > li.loan_li:nth-child(13) {
  margin-left: 0%;
}

.otherNations__ul > li.loan_li:nth-child(5n) {
  margin-left: 2%;
  clear: none;
}

.otherNations__ul > li.Education_li {
  width: 15%;
}

.otherNations__ul > li.Education_li:nth-child(1) {
  margin-left: 0%;
}

.otherNations__ul > li.Education_li:nth-child(7) {
  margin-left: 0%;
}

.otherNations__ul > li.Education_li:nth-child(13) {
  margin-left: 0%;
}

.otherNations__ul > li.Education_li:nth-child(5n) {
  margin-left: 2%;
  clear: none;
}

.loan__actionArea {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 110px;
  margin-top: 15px;
}

.box_remind {
  margin: 40px 0;
  padding: 0 50px;
  color: #111111;
  line-height: 30px;
}

.box_remind2 {
  margin: 10px 0 30px;
  padding: 0 0px;
  color: #111111;
  line-height: 30px;
}

.btn.w140 {
  width: 140px;
  padding: 8px 0;
}

.form.bg_w {
  background: #fff;
  padding: 35px 15px;
  border: solid 1px #d5d5d5;
}

.table_load_style {
  border: solid 1px #adadad;
  display: table;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: #4a4a4a;
  font-weight: 500;
  font-family: "微軟正黑體";
  color: 1.36;
}
.table_load_style th {
  border-bottom: 1px solid #d8d8d8;
  background: #f6f6f6;
  text-align: center;
}
.table_load_style td {
  border-bottom: 1px solid #d8d8d8;
  background: #fff;
  text-align: center;
}

.list_item {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #000;
}

.add__result {
  background: #fff;
  border: 1px solid #d5d5d5;
  margin-bottom: 25px;
  padding: 20px;
  display: none;
}
.add__result .tit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #000;
  margin-bottom: 10px;
}

.footer {
  margin-top: 20px;
  width: 100%;
  float: left;
}

@media screen and (max-width: 1200px) {
  .inputGroup__info {
    margin-top: 2px;
    top: -30px;
    right: 0;
  }
}
@media screen and (max-width: 992px) {
  .box_location {
    width: 490px;
    max-width: 49%;
    margin: 0 0.5%;
  }

  .box_ticket {
    width: 59%;
    max-width: 59%;
    margin: 0 0 0 0;
  }
}
@media screen and (max-width: 960px) {
  .form__item .form__box {
    width: 100%;
    float: left;
    padding-left: 0;
  }

  .form__item .index_in_card {
    width: 100%;
    text-align: center;
  }
  .form__item .index_in_card .index_banner_card {
    width: 360px;
    min-height: 277px;
    margin: 0 auto;
  }

  .m_50 {
    margin: 20px 0;
  }

  input[type="text"].input_other {
    width: 78%;
    margin-left: 100px;
    position: absolute;
    top: 6px;
    left: 0;
  }

  .li_s {
    padding-left: 0px;
  }

  .inputGroup__label_b {
    width: 165px;
  }

  .line_box {
    width: 100%;
    float: left;
    padding-left: 50px;
  }

  .pl_40 {
    padding-left: 0;
  }
}
@media screen and (max-width: 860px) {
  .lightbox_text {
    width: 100%;
  }

  .btn_all_print {
    width: 100%;
    float: left;
    margin: 25px 0;
  }
  .btn_all_print a {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .actionArea {
    padding-top: 0;
    padding-bottom: 0;
  }

  .other_logo {
    padding-top: 10px;
  }

  .time__box {
    text-align: left;
    margin-bottom: 10px;
  }
  .time__box span {
    font-size: 14px;
  }

  .form__item {
    padding: 7px 5px;
  }
  .form__item .order_num {
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 50%;
    /*float: left;*/ 
  }
  .form__item .order_num span {
    display: block;
    padding-left: 0;
  }
  .form__item .form__box {
    width: 100%;
    float: left;
    padding-left: 0px;
  }
  .form__item .form__box .card_kind {
    position: absolute;
    text-align: right;
    right: 10px;
    top: 5px;
  }
  .form__item .form__box .inputGroup {
    position: relative;
    float: left;
    width: 100%;
  }
  .form__item .form__box .inputGroup.w70 {
    width: 70%;
  }
  .form__item .form__box .inputGroup.w30 {
    width: 30%;
    padding-left: 10px;
  }
  .form__item .form__box .inputGroup .inputGroup__label {
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
  }
  .form__item .form__box .inputGroup .text__s {
    font-size: 12px;
    line-height: 30px;
    font-weight: normal;
    font-family: "微軟正黑體";
    color: #8e8e93;
    float: left;
  }
  .form__item .index_in_card {
    display: none;
  }

  .mb_50 {
    margin-bottom: 0px;
  }

  .icon_box .icon__text {
    display: block;
  }
  .icon_box .icon__text .title {
    padding: 10px 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: bolder;
    font-family: "微軟正黑體";
    color: #4a4a4a;
  }

  .form {
    min-height: auto;
  }

  .height_100 {
    height: auto;
  }

  .index_banner_card {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  .index_banner_card .card-front, .index_banner_card .card-back {
    position: absolute;
    width: 100%;
    max-width: 360px;
    left: 0px;
  }
  .index_banner_card .card-front .number, .index_banner_card .card-back .number {
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #fff;
    position: absolute;
    margin: 0 auto;
    top: 135px;
    left: 40px;
  }
  .index_banner_card .card-front .card-expiration-date, .index_banner_card .card-back .card-expiration-date {
    position: absolute;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #fff;
    left: 200px;
    bottom: 30px;
  }
  .index_banner_card .card-front .ccv, .index_banner_card .card-back .ccv {
    position: absolute;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #ff6000;
    right: 95px;
    bottom: 100px;
  }

  .box_location {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    min-height: auto;
    float: none;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .box_location .loaction_tit {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 1.18;
    margin-bottom: 20px;
  }
  .box_location .btn {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .collapse--note {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section {
    padding: 10px 10px 0;
  }

  .actionArea {
    margin-top: 0px;
  }

  .sms__precode {
    position: absolute;
    top: 5px;
    margin-left: 0px;
  }

  .sms > div.sms__precode {
    margin-left: 0px;
  }

  .otherNations__ul > li.loan_li {
    width: 23%;
  }

  .otherNations__ul > li.loan_li:nth-child(5n) {
    margin-left: 0%;
    clear: none;
  }

  .loan__actionArea {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    width: 110px;
    margin-top: 15px;
  }
}
.accordionForm__content {
  position: relative;
}
.accordionForm__content .only_box {
  right: 25px;
}

.box_list_50 {
  width: 100%;
  float: left;
}
.box_list_50 ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*---------- thankIcon ----------*/
.thankIcon {
  margin-top: 0;
}
.thankIcon span {
  display: block;
  text-align: center;
}
.thankIcon span:before {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background-image: url(../images/thankicon.png);
  background-position: 0 0;
  background-size: 70px 70px;
}

.icom_errorMsg .confirm__code_text {
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  font-family: "微軟正黑體";
  color: #ff2828;
  text-align: center;
}
.icom_errorMsg .confirm__code_text span {
  display: block;
}
.icom_errorMsg .confirm__code_text:before {
  content: '';
  display: block;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  background-image: url(../images/warning-100-px@2x.png);
  background-size: 55px 55px;
  margin: 0 auto 20px;
}

.otherNations__ul > li.Education_li {
  width: 30.66%;
}

.form_box {
  border: solid 1px #d5d5d5;
  background: #fff;
  padding: 40px 20px;
}

.box_inline {
  position: relative;
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  margin-bottom: 15px;
}
.box_inline .text__box span {
  display: inline;
  padding-left: 0;
}
.box_inline span {
  display: block;
  padding-left: 30px;
}
.box_inline.mb_10 {
  margin-bottom: 10px;
}
.box_inline.mt_20 {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.box_inline .ml_95 {
  margin-left: 28px;
}
.box_inline .ml_95.b20 {
  font-size: 18px;
  color: #6d6d6d;
}

.inputGroup__info {
  margin-top: 0;
  top: 0px;
  right: 0;
}

.mt5 {
  margin-top: -2px;
  position: absolute;
  top: 0;
  left: 110px;
}

.collapse--note > .collapse__title {
  padding: 10px 40px 10px 10px;
}

.collapse--note > .collapse__content {
  padding: 10px 10px;
}

.CUBList--sequence > li {
  position: relative;
  font-size: 14px;
  padding-left: 50px;
  color: #6d6d6d;
  line-height: 1.5;
  margin: 10px 0;
}

.CUBList--sequence > li:before {
  content: attr(data-sequence);
  display: block;
  position: absolute;
  width: 50px;
  line-height: 1.5;
  font-size: 14px;
  top: 0;
  left: 0;
  text-align: center;
}

.br_block {
  display: inline-block;
}

.inputGroup__title {
  margin-left: 0px;
}

.inputGroup__label_b {
  display: block;
  position: relative;
  width: 100% !important;
  padding: 0 !important;
  margin-bottom: 5px;
  text-align: left;
  padding-right: 20px;
}

.box_ticket {
  width: 100%;
  max-width: 100%;
  margin: 0 0 0 0;
  float: left;
  padding: 15px 0;
  min-height: 165px;
  text-align: center;
}
.box_ticket .box_l {
  float: none;
  margin: 0 auto;
}
.box_ticket .box_l .s_text {
  font-size: 12px;
  margin-top: 10px;
}
.box_ticket .img_qrcode {
  display: none;
}
.box_ticket .ticket_tit {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1.18;
  margin-bottom: 0px;
}

a.btn_box {
  width: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #ffffff;
  text-align: center;
  float: left;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
}

.iwrite__pen:before, .iwrite__doc:before, .iPrint__bank:before, .iwrite__pen:after, .iwrite__doc:after, .iPrint__bank:after {
  width: 80px;
  height: 80px;
  background-image: url(../images/iwrite_S.png);
  background-position-x: 0;
}

.iwrite__pen:before, .iwrite__pen:after {
  background-position-y: 0;
}

.iwrite__doc:before, .iwrite__doc:after {
  background-position-y: -80px;
}

.iPrint__bank:before, .iPrint__bank:after {
  background-position-y: -160px;
}

@media screen and (max-width: 760px) {
  .inputGroup__control--captcha .tableDiv > div {
    margin-top: 12px;
    display: block;
  }

  .inputGroup__control--captcha .tableDiv > div:first-child {
    margin-top: 0px;
    width: 100%;
    display: block;
  }

  .inputGroup__control .bg_block {
    margin-top: 10px;
    margin-left: 0;
    float: left;
  }

  .completeIcon span {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .lightbox_text {
    padding: 0;
    display: inline-block;
    float: left;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .lightbox_text .tit {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #000;
  }
  .lightbox_text .tit ._tit {
    width: 30%;
    padding-right: 0px;
  }
  .lightbox_text span.text {
    padding-left: 0px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #ff2828;
  }

  /*table*/
  .text__22 {
    font-size: 18px;
    text-align: left;
  }

  .time_end {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
  }
  .time_end span {
    padding-left: 35px;
    left: 0px;
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    font-family: "微軟正黑體";
    color: #ff2828;
  }

  .table_data_item {
    width: 100%;
  }
  .table_data_item.mt20 {
    margin-top: 20px;
  }
  .table_data_item .td_25 {
    width: 50%;
    display: inline-block;
  }
  .table_data_item .td_50 {
    width: 100%;
    display: block;
  }
  .table_data_item .td_block {
    display: block;
  }

  .line_li_mb_20 {
    margin: 10px 0 0;
  }

  input[type="text"].input_other {
    width: 60%;
  }

  .btn_all_print {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    display: inline-block;
  }

  .section--bgWhite {
    margin-bottom: 0;
    min-height: auto;
    padding-top: 0px;
  }
}
.img_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -109.5px;
  margin-top: -61.5px;
}

/* CSS */
@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
    }

        .apple-pay-button-with-text > * {
            display: none;
        }

    .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
    }

    .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
    }

    .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        --apple-pay-scale: 1; /* (height / 32) */
        display: inline-flex;
        justify-content: center;
        font-size: 12px;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 200px;
        min-height: 32px;
        max-height: 64px;
    }

    .apple-pay-button-black-with-text {
        background-color: black;
        color: white;
    }

    .apple-pay-button-white-with-text {
        background-color: white;
        color: black;
    }

    .apple-pay-button-white-with-line-with-text {
        background-color: white;
        color: black;
        border: .5px solid black;
    }

    .apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }

    .apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }

    .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }

    .apple-pay-button-with-text > .text {
        font-family: -apple-system;
        font-size: calc(1em * var(--apple-pay-scale));
        font-weight: 300;
        align-self: center;
        margin-right: calc(2px * var(--apple-pay-scale));
    }

    .apple-pay-button-with-text > .logo {
        width: calc(35px * var(--scale));
        height: 100%;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 0 50%;
        margin-left: calc(2px * var(--apple-pay-scale));
        border: none;
    }
}
