/*
	@name home_page
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__home_page {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(255,255,255,1);
}

#saved_list_btn___sign_in_btn {
	top: 48px;
	left: 1202px;
	width: 164px;
	height: 19px;
}

#sign_in_btn {
	top: 0px;
	left: 110px;
	width: 64px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-decoration: underline;
	text-align: center;
	color:#000000;
}

#saved_list_btn {
	top: 0px;
	left: 0px;
	width: 93px;
	height: 19px;
}

#saved_list_img {
	top: 1px;
	left: 83px;
	width: 10px;
	height: 17px;
}


#saved_list_txt {
	top: 0px;
	left: -3px;
	width: 92px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-decoration: underline;
	text-align: center;
	color:#000000;
}

#search_btn {
	top: 43px;
	left: 502px;
	width: 436px;
	height: 29px;
}

#search_rect {
	top: 0px;
	left: 0px;
	width: 438px;
	height: 31px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #000000;
	background:rgba(255,255,255,1);
}

#search_txt___img {
	top: 5px;
	left: 10px;
	width: 72px;
	height: 19px;
}

#search_txt {
	top: 0px;
	left: 19px;
	width: 74px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#6B6B6B;
}


#search_img {
	top: 2px;
	left: 0px;
	width: 15px;
	height: 15px;
}

#cli_group___group_rect {
	top: 110px;
	left: 966px;
	width: 400px;
	height: 385px;
}

#cli_group_rect {
	top: 0px;
	left: 0px;
	width: 402px;
	height: 387px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	background:rgba(255,255,255,1);
}

#cli_group {
	top: 15px;
	left: 10px;
	width: 380px;
	height: 355px;
}
#itinerary_planner_information_group___group_txt {
	top: 52px;
	left: 5px;
	width: 370px;
	height: 303px;
}

#itinerary_planner_information_group_rect {
	top: 0px;
	left: 0px;
	width: 370px;
	height: 303px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(217,217,217,1);
}

#itinerary_planner_information_group {
	top: 21px;
	left: 15px;
	width: 340px;
	height: 268px;
}
#see_your_trip_btn {
	top: 233px;
	left: 0px;
	width: 340px;
	height: 35px;
}

#see_your_trip_rect {
	top: 0px;
	left: 0px;
	width: 340px;
	height: 35px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(0,0,0,1);
}


#see_your_trip_txt {
	top: 8px;
	left: 119px;
	width: 110px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}

#activities_preferences__optional___btn {
	top: 200px;
	left: 10px;
	width: 320px;
	height: 19px;
}

#activities_preferences__optional___list_img {
	top: 0px;
	left: 301px;
	width: 19px;
	height: 19px;
}


#activities_preferences__optional___txt {
	top: 0px;
	left: 0px;
	width: 262px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#000000;
}

#date_range_txt___list_img___rect___guests_txt___list_img___rect {
	top: 126px;
	left: 0px;
	width: 340px;
	height: 60px;
}
#guests_txt___list_img___rect {
	top: 0px;
	left: 240px;
	width: 100px;
	height: 60px;
}

#guests_rect {
	top: 0px;
	left: 0px;
	width: 100px;
	height: 60px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(255,255,255,1);
}

#guests_txt___list_img {
	top: 9px;
	left: 10px;
	width: 80px;
	height: 43px;
}

#guests_list_img {
	top: 12px;
	left: 61px;
	width: 19px;
	height: 19px;
}

#guests_txt {
	top: 0px;
	left: 0px;
	width: 47px;
	height: 43px;
}

#guests_txt_2 {
	top: 24px;
	left: 0px;
	width: 29px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#000000;
}


#guests_txt_1 {
	top: 0px;
	left: 0px;
	width: 66px;
	height: 27px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	color:#6B6B6B;
}

#date_range_txt___list_img___rect {
	top: 0px;
	left: 0px;
	width: 240px;
	height: 60px;
}

#date_range_rect {
	top: 0px;
	left: 0px;
	width: 240px;
	height: 60px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(255,255,255,1);
}

#date_range_txt___list_img {
	top: 9px;
	left: 10px;
	width: 220px;
	height: 43px;
}

#date_range_list_img {
	top: 12px;
	left: 201px;
	width: 19px;
	height: 19px;
}

#date_range_txt {
	top: 0px;
	left: 0px;
	width: 177px;
	height: 43px;
}

#date_range_txt_2 {
	top: 24px;
	left: 0px;
	width: 198px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#000000;
}


#date_range_txt_1 {
	top: 0px;
	left: 0px;
	width: 96px;
	height: 27px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	color:#6B6B6B;
}

#destination_txt___rect {
	top: 52px;
	left: 0px;
	width: 340px;
	height: 60px;
}

#destination_rect {
	top: 0px;
	left: 0px;
	width: 340px;
	height: 60px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(255,255,255,1);
}

#destination_txt {
	top: 9px;
	left: 10px;
	width: 181px;
	height: 43px;
}

#destination_txt_2 {
	top: 24px;
	left: 0px;
	width: 202px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#000000;
}


#destination_txt_1 {
	top: 0px;
	left: 0px;
	width: 94px;
	height: 27px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	color:#6B6B6B;
}


#itinerary_planner_txt {
	top: 0px;
	left: 61px;
	width: 229px;
	height: 49px;
	overflow: hidden;
	font-family: Inter;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#line_rect {
	top: 43px;
	left: 0px;
	width: 380px;
	height: 1px;
}

#create_an_empty_itinerary_btn {
	top: 0px;
	left: 5px;
	width: 370px;
	height: 35px;
}

#create_an_empty_itinerary_rect {
	top: 0px;
	left: 0px;
	width: 370px;
	height: 35px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(0,0,0,1);
}


#create_an_empty_itinerary_txt {
	top: 8px;
	left: 86px;
	width: 206px;
	height: 30px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}



/* Add your custom CSS here */
